.log
.DS_Store
.cache
.env
.env.*.local
.env.local
.idea
.next
.pnp.js
.pnp.loader.mjs
.vscode
/build
/tmp/
coverage
dbk-api/cache/
dist
node_modules
npm-debug.log*
out
yarn-debug.log*
yarn-error.log*
__pycache__
immichdl/.env
